/* CUSTOM */
:root{
    /* palette */
    --bgc-box:#006CFA;
    --bgc-nested-box:#00E165;
    --white:white;
}

/* COMMON */
.fluid-container{
    margin-bottom: 1rem;
}

/* BODY */
.box{
    background-color:var(--bgc-box);
    border: 1px solid var(--white);
    color: var(--white);
    height: 2.7rem;
    line-height: 2.7rem;
    text-align: center;
    vertical-align: middle;
    font-size: small;
}

.green-box{
    background-color:var(--bgc-nested-box);
    border: 1px solid var(--bgc-box);
}

.big {
    height: 4rem;
}

.green{
    padding: 0.6rem;
}